@model ESale.WebUI.Models.RegisterModel


@{
    ViewData["Title"] = "Index4";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}




<form asp-controller="Accounts" asp-action="Register" method="post" enctype="multipart/form-data" class="form-horizontal templatemo-login-form-2" role="form">
    <div class="row">
        <div class="col-md-6">
            <h1>KAYIT OL</h1>
        </div>
    </div>
    <div class="row">
        <div class="templatemo-one-signin col-md-6">
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="FullName" class="control-label">Ad-Soyad</label>
                    <div class="templatemo-input-icon-container">
                        <i class="fa fa-pencil"></i>
                        <input type="text" asp-for="FullName" value="@Model.FullName" class="form-control" id="" placeholder="">
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="UserName" class="control-label">Kullanıcı Adı</label>
                    <div class="templatemo-input-icon-container">
                        <i class="fa fa-user"></i>
                        <input type="text" asp-for="UserName" value="@Model.UserName" class="form-control" id="username" placeholder="">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="Email" class="control-label">Email</label>
                    <div class="templatemo-input-icon-container">
                        <i class="fa fa-mail-forward"></i>
                        <input type="text" asp-for="Email" value="@Model.Email" class="form-control" id="" placeholder="">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="Password" class="control-label">Şifre</label>
                    <div class="templatemo-input-icon-container">
                        <i class="fa fa-lock"></i>
                        <input type="password" asp-for="Password" value="@Model.Password" class="form-control" id="password" placeholder="">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="RePassword" class="control-label">Şifre(Tekrar)</label>
                    <div class="templatemo-input-icon-container">
                        <i class="fa fa-lock"></i>
                        <input type="password" asp-for="RePassword" value="@Model.RePassword" class="form-control" id="RePassword" placeholder="Şifrenizi tekrar giriniz">
                        <span asp-validation-for="RePassword" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="HESAP OLUŞTUR" class="btn btn-warning">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <a asp-controller="Accounts" asp-action="Login" class="text-center">Hesabın var mı ?  |   Giriş Yap</a>
                </div>
            </div>
        </div>


        <div class="templatemo-other-signin col-md-6">
            <img style="width:285px;height:275px;border-radius:10px;" src="~/Login/images/register.jpg" alt="Alternate Text" />

        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</form>




@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>



}