
@model ESale.WebUI.Models.OrderModel


@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_ESaleLayout.cshtml";
}




<div class="row">
    <div class="col-md-6 ml-5">
        <h4 class="mb-3 text-danger font-weight-bold">SİPARİŞ DETAYLARI</h4>
        <form action="/CheckOut" method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Adınız</label>
                    <input asp-for="@Model.FirstName" value="" class="form-control" required/>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Soyadınız</label>
                    <input asp-for="@Model.LastName" value="" class="form-control" required />
                </div>
            </div>
            <div class="mb-3">
                <label>Adres</label>
                <textarea asp-for="@Model.Address" class="form-control" required></textarea>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label>Şehir</label>
                    <input asp-for="@Model.City" value="" class="form-control" required />
                </div>
                <div class="col-md-4 mb-3">
                    <label>Telefon Numarası</label>
                    <input type="tel" asp-for="@Model.PhoneNumber" value="" class="form-control" required/>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Email</label>
                    <input type="email" asp-for="@Model.Email" value="" class="form-control" required/>
                </div>
            </div>
            <hr class="mb-4" />
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="save-info" required>
                <label class="custom-control-label" for="save-info">Save this information for next time</label>
            </div>
            <hr class="mb-4" />

            <h4  class="mb-3 text-danger font-weight-bold">ÖDEME BİLGİLERİ</h4>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Kart İsim-Soyisim</label>
                    <input asp-for="@Model.CardName" value="" class="form-control" required />
                </div>
                <div class="col-md-6 mb-3">
                    <label>Kart Numarası</label>
                    <input asp-for="@Model.CardNumber" value="" class="form-control" required />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label>Son kullanım tarihi (AY)</label>
                    <input type="number" asp-for="@Model.ExpirationMonth" value="" min="1" max="12" class="form-control" required/>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Son kullanım tarihi (YIL)</label>
                    <input type="number" asp-for="@Model.ExpirationYear" value="" min="@DateTime.Now.Year" max="2050" required class="form-control" />
                </div>
                <div class="col-md-4 mb-3">
                    <label>CVV</label>
                    <input type="number" asp-for="@Model.Cvv" value="" class="form-control" required/>
                </div>
            </div>
            <hr class="mb-4" />
            <button type="submit" class="btn btn-primary btn-lg btn-block mb-3">SİPARİŞİ TAMAMLA</button>

        </form>
    </div>






    <div class="col-md-5 mb-4">

        <h4 class="mb-3">
            <span class="text-danger font-weight-bold">SEPETİNİZ</span>
        </h4>
        <ul class="list-group mb-3" >
            @foreach (var item in Model.CartModel.CartItems)
            {
                <li class="list-group-item d-flex justify-content-between" style="background-color:tomato">
                    <div>
                        <img src="~/img/1.jpg" width="50" alt="Alternate Text" />
                    </div>
                    <div>
                        <h6 class="my-0 font-weight-bold">
                            @item.Name
                            <small>x @item.Quantity</small>
                        </h6>
                    </div>
                    <span class="text-muted">@item.Price TL</span>
                </li>
            }
            <li class="list-group-item d-flex justify-content-between">
                <span>Total (TL)</span>
                <strong>@Model.CartModel.TotalPrice() TL</strong>
            </li>
        </ul>

    </div>
</div>

