@model ESale.WebUI.Models.ProductListModel



@{
    ViewData["Title"] = "Ürünler";
    Layout = "~/Views/Shared/_ESaleLayout.cshtml";
}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>





<script>

    $(document).ready(function () {


        $(".buttons").click(function () {

            let id = this.id;
            
            /*$("#favoryList").html("aaaa");*/


            $.ajax({

                contentType: "application/json",
                dataType: "json",
                type: "get",
                url: "/Shops/AddtoFavoryBox/" + id,
                beforeSend: function (func) {
                    /*swal("Good job!", "You clicked the button!", "success");*/

                    /*    setTimeout(function () {*/

                    
                    swal("Başarılı!", "Favorilere eklendi", "success");
                   
                },
                  /*  }, 3000);//wait 2 seconds*/

                //    swal({
                //        title: "Good job!",
                //        text: "You clicked the button!",
                //        icon: "success",
                //        setTimeout(function() { $("#myElem").hide(); }, 5000);
                        
                //    });
                //},
                success: function (func) {
                    alert("Başarılı!");
                }
            });
        });
    });


</script>











<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
            <li class="breadcrumb-item"><a href="#">Ürünler</a></li>
            <li class="breadcrumb-item active">Liste</li>
        </ul>
    </div>
</div>


<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">



                <div class="row">

                    @await Component.InvokeAsync("FilterProducts")






                    @if (Model.Products.Count == 0)
                    {
                        <div class="alert alert-warning col-md-12">
                            Malesef hiçbir ürün bulunamadı!
                        </div>
                    }



                    @foreach (var item in Model.Products)
                    {



                        <div class="col-md-4">
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="/Shops/Details/@item.Id">@item.Name</a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="product-image">
                                    <a href="/Shops/Details/@item.Id">
                                        <img src="~/Shop/img/product-1.jpg" alt="Product Image">
                                    </a>
                                    <div class="product-action">




                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <form asp-controller="Carts" asp-action="AddtoCart" method="post" style="display:inline">


                                                <input type="hidden" name="productId" value="@item.Id" />
                                                <input type="hidden" name="quantity" value="1" />
                                                <button class="btn btn-cart" type="submit"><i class="fa fa-cart-plus"></i></button>

                                            </form>

                                        }


                                        <button class="buttons btn btn-success" id="@item.Id" value="@item.Id"><i class="fa fa-heart"></i></button>





                                        <a href="/Shops/Details/@item.Id"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <h3><span>₺</span>@item.Price</h3>


                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <form asp-controller="Carts" asp-action="AddtoCart" method="post" style="display:inline">


                                            <input type="hidden" name="productId" value="@item.Id" />
                                            <input type="hidden" name="quantity" value="1" />
                                            <button class="btn btn-cart" type="submit"><i class="fa fa-shopping-cart"></i>Satın Al</button>

                                        </form>

                                    }




                                </div>
                            </div>
                        </div>

                    }

                </div>




                <!-- Pagination Start -->
                <div class="col-md-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <div page-model="@Model.PageInfo"></div>
                        </ul>
                    </nav>
                </div>
                <!-- Pagination Start -->
            </div>

            <!-- Side Bar Start -->
            <div class="col-lg-4 sidebar">
                <div class="sidebar-widget category">
                    <h2 class="title">Kategoriler</h2>
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">


                            @foreach (var y in ViewBag.categoryList)
                            {
                                <li class="nav-item">
                                    <a asp-controller="Shops" asp-action="List" asp-route-categoryname="@y.Name.ToLower()"
                                       class="nav-link"><i class="fa fa-tshirt"></i>@y.Name</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a asp-controller="Shops" asp-action="List" asp-route-categoryname=""
                                   class="nav-link"><i class="fa fa-tshirt"></i>TÜMÜ</a>
                            </li>


                        </ul>
                    </nav>
                </div>

                <div class="sidebar-widget widget-slider">
                    <div class="sidebar-slider normal-slider">

                        @foreach (var item in Model.Products)
                        {
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="/Shops/Details/@item.Id">@item.Name</a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="product-image">
                                    <a href="/Shops/Details/@item.Id">
                                        <img src="~/Shop/img/product-10.jpg" alt="Product Image">
                                    </a>
                                    <div class="product-action">


                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <form asp-controller="Carts" asp-action="AddtoCart" method="post" style="display:inline">


                                                <input type="hidden" name="productId" value="@item.Id" />
                                                <input type="hidden" name="quantity" value="1" />
                                                <button class="btn btn-cart" type="submit"><i class="fa fa-cart-plus"></i></button>

                                            </form>

                                        }



























                                        <button class="buttons btn btn-success" id="@item.Id" value="@item.Id"><i class="fa fa-heart"></i></button>














                                        <a href="/Shops/Details/@item.Id"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <h3><span>₺</span>@item.Price</h3>


                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <form asp-controller="Carts" asp-action="AddtoCart" method="post" style="display:inline">


                                            <input type="hidden" name="productId" value="@item.Id" />
                                            <input type="hidden" name="quantity" value="1" />
                                            <button class="btn btn-cart" type="submit"><i class="fa fa-shopping-cart"></i>Satın Al</button>

                                        </form>

                                    }




                                </div>
                            </div>

                        }

                    </div>
                </div>

                <div class="sidebar-widget brands">
                    <h2 class="title">Our Brands</h2>
                    <ul>
                        <li><a href="#">Nulla </a><span>(45)</span></li>
                        <li><a href="#">Curabitur </a><span>(34)</span></li>
                        <li><a href="#">Nunc </a><span>(67)</span></li>
                        <li><a href="#">Ullamcorper</a><span>(74)</span></li>
                        <li><a href="#">Fusce </a><span>(89)</span></li>
                        <li><a href="#">Sagittis</a><span>(28)</span></li>
                    </ul>
                </div>

                <div class="sidebar-widget tag">
                    <h2 class="title">Tags Cloud</h2>
                    <a href="#">Lorem ipsum</a>
                    <a href="#">Vivamus</a>
                    <a href="#">Phasellus</a>
                    <a href="#">pulvinar</a>
                    <a href="#">Curabitur</a>
                    <a href="#">Fusce</a>
                    <a href="#">Sem quis</a>
                    <a href="#">Mollis metus</a>
                    <a href="#">Sit amet</a>
                    <a href="#">Vel posuere</a>
                    <a href="#">orci luctus</a>
                    <a href="#">Nam lorem</a>
                </div>
            </div>
            <!-- Side Bar End -->
        </div>
    </div>
</div>


